.htaccess
/UPLOAD/cache/
/UPLOAD/tmp/
/UPLOAD/uploads/
/UPLOAD/system/config.inc.php
/UPLOAD/system/config/install.lock.php
/UPLOAD/system/config/database.php
.DS_Store
/UPLOAD/api/uc.php
/UPLOAD/uc_client/
/UPLOAD/.tags
/UPLOAD/.tags_sorted_by_file
